<!-- <nav class = "navbar is-info is-fixed-top" role = "navigation" aria-label = "main navigation">
    <div class = "navbar-brand">
        <a class = "navbar-item" href = "http://localhost:4200/home">
            <img src = "assets/pf_logo.png" width = "60" height="112">
            <strong>Home</strong>
        </a>
    </div>

    <div id = "navbarOptions" class = "navbar-menu">
        <div class = "navbar-end">
            <div class = "navbar-item">
                <div class = "buttons">
                    <a class = "button is-primary">
                        <strong>Find A Park</strong>
                    </a>
                    <a class = "button is-primary">
                        <strong>Check-In</strong>
                    </a>
                    <a class = "button is-primary" href = "http://localhost:4200/reviews">
                        <strong>Reviews</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav> -->
