<router-outlet>
  <mat-toolbar color='primary'>

    <span> Dog Park Finder </span>

    <span class="toolbar-spacer"></span>

    <button mat-raised-button class="material-button" color='accent' routerLink="/home" >
      Home
    </button>

    <button mat-raised-button class="material-button" color='accent' routerLink="/reviews">
      Reviews
    </button>

    <button mat-raised-button class="material-button" color='accent' routerLink="/find">
      Find
    </button>

    <button mat-raised-button class="material-button" color='accent' routerlink="/map">
      Map
    </button>
  </mat-toolbar>

</router-outlet>
