.mat-elevation-z8 {
  text-align: center;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
}

.mat-row {
  text-align: center;
  height: auto;
}
.mat-header-cell {
  padding: 2em;
  text-align: center;
}

.mat-cell {
  text-align: centeri;
  padding: 2em;
}

.table-button {
  margin: 1em;
  width: fit-content;
  height: 40px;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 2em; */
  padding: 2em;
}

.unselected-filter {
  margin: 1em;
  width: fit-content;
  height: 50px;
}

h1 {
  align-content: center;
}
