<app-header></app-header>
<section class = "hero is-large">
    <div class = "hero-body">
        <div class = "columns is-vcentered">
            <div class = "column is-one-quarter is-offset-1">
                <div class = "box has-background-grey-lighter">
                    <app-write-up></app-write-up>
                </div>
            </div>
            <div class = "column is-one-third is-offset-3">
                <div class = "box has-background-grey-lighter">
                    <app-post-board></app-post-board>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>